<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Crypto Market Trends</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('partials/navbar') %>

    <main>
        <h1>Crypto Market Trends</h1>
        <canvas id="cryptoChart" width="400" height="200"></canvas>
    </main>

    <%- include('partials/footer') %>
    <script src="/js/cryptoVisualization.js"></script>
</body>
</html>
